/* CircleInitials.module.css */
.circle {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: #0047FF;
    font-size: 18px; /* Adjust the font size as needed */
    font-family: Roboto;
    font-weight: lighter;
  }
  